.right-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;

  .right-sidebar-align {
    display: flex;
    flex-direction: column;
    align-items: center;

    .suggestion {
        width: 100%;
    }

    .user {
        width: 100%;
    }

  }

  div {
    width: 80%;

    .search {
      width: 100%;
    }

    .result {
      width: 100%;
      position: relative;
      z-index: 999;
    }
  }
}
