.profile-area {
    background: #15202b;
    max-height: 100%;
}

.profile-area-container {
    display: flex;
}


.user-area {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right:1px solid;
    border-left: 1px solid;
    border-color: rgba(114, 173, 212, 0.3);
}

.profile-user-header-container-1 {
    background: #15202b;
    padding: 0 0.5rem;
}

.profile-user-header-container-2 {
    padding: 0.5rem 0;
}

.profile-user-header-container-2 h4,h5 {
    margin: 0;
}

h4 {
    color: whitesmoke;
}

h5 {
    color: #657786;
}

.user-header-image-container img{
    max-width: 100%;
}

.trends-who-to-follow-area {
    width: 25%;
    align-items: center;
    color: white;
}

.profile-pic-edit-tab-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 5rem;
}

.user-profile-edit-tab-container {
    padding: 0 1rem;
}

.profile-pic-edit-tab-container img {
    max-width: 8rem;
        border-radius: 50%;
        border: 0.3rem solid #15202b;
        position: relative;
        top: -2rem;
}

.edit-profile-btn {
    background: none;
    border: 0.1rem solid white;
    color: white;
    width: 6rem;
    height: 2rem;
    border-radius: 0 1rem;
    font: bold 0.7rem helvetica;
}

.edit-profile-btn:hover {
    background: white;
    color: #15202b;
}

.user-details-area {
    padding: 0 1rem;
}

.user-name-on-profile-page {
    margin: 0;
    color: whitesmoke;
}

.users-choosen-name-as-username {
    margin: 0.5rem 0;
    color: #657786;
    font: lighter 0.9rem/0.9rem helvetica;
}

.joining-our-app-date-with-little-calender {
    display: flex;
    align-items: center;
    color: #657786;
    font: lighter 0.9rem/2rem helvetica;
}

.joining-our-app-date-with-little-calender svg {
    block-size: 1rem;
    color: #657786;
}

.follower-following-btns {
    margin: 0.5rem 0;
}

.btn-which-will-show-followers-follwing-users {
    background: none;
    border: none;
    color: white;
    font-variant: petite-caps;
}

.navigation-links-to-different-pages button {
    background: none;
    border: none;
    color: #657786;
    font: bolder 1rem/1.5rem helvetica;
}

.navigation-links-to-different-pages {
    display: flex;
    justify-content: space-between;
}

.col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    flex-direction: column
}

.App {
    height: 100vh;
    background: #15202b;
}

.top-header-of-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    margin-top: 1rem;
}

.top-header-of-page a {
    position: relative;
    right: 3rem;
}

.top-header-of-page button {
    border: none;
    background: white;
    height: 1.5rem;
    width: 4rem;
    border-radius: 1rem;
    color: rgba(29,161,242,1.00);
}

.top-header-of-page img {
    right: 8rem;
    width: 2.5rem;
    position: relative;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
}

.modal-main {
    position: fixed;
    background: white;
    width: 60%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.edit-profile-page-header {
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid blue;
    position: fixed;
    z-index: 1;
    width: 92%;
    background: white;
    padding: 1rem;
}

.edit-profile-page-header a {
    position: relative;
    /* left: -10rem; */
    align-self: baseline;
}

.edit-profile-page-header button {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
}

.edit-profile-page-header h1 {
    margin: 0;
}

.edit-page-header-image input {
    position: relative;
    top: 10rem;
    left: 10rem;
    /* width: 2rem; */
    opacity: 0;
    cursor: pointer;
}

.edit-page-header-image img {
    width: 100%;
}

.edit-profile-header-image svg {
    width: 2rem;
    position: absolute;
    top: 9.5rem;
    left: 50%;
    opacity: 0.9;
}

.edit-profile-profile-image {
    width: 10rem;
    height: 10rem;
    /* margin: 0; */
    position: relative;
    top: -6rem;
    padding: 0 2rem;
}

.edit-profile-profile-image input {
    width: 5rem;
    position: relative;
    top: 5rem;
    left: 2.5rem;
    opacity: 0;
    cursor: pointer;
}

.edit-profile-profile-image img {
    width: 10rem;
    border-radius: 50%;
    border: 0.2rem solid;
}

.edit-profile-profile-image svg {
    width: 2rem;
    position: absolute;
    top: 50%;
    left: 44%;
}

.edit-profile-bio-textarea {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -2rem;
    padding: 1rem;
}

.edit-profile-bio-textarea label {
    font: bolder 1rem/1rem helvetica;
}

edit-profile-bio-textarea textarea {
    height: 3rem;
    border: none;
    outline: none;
    border-bottom: 0.1rem solid blue;
}

.edit-profile-save-btn {
    background: blue;
    color: white;
    border: none;
    width: 4rem;
    height: 2rem;
    border-radius: 1rem;
    margin: 0 1rem;
}

.edit-profile-overflow-scroll {
    position: relative;
    top: 2rem;
}

